[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
PyYAML = "*"
kubernetes = "*"
Flask-Cors = "*"
gunicorn = "*"
types-pyyaml = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.8"

[packages.pymongo]
extras = [ "srv",]
version = "*"

[dev-packages.shnootalk_cc_server]
editable = true
path = "."
